/* акцент синий #2196F3 */
/* основной цвет #212121 */
/* белый цвет #FFFFFF */
/* вторичный цвет #757575 */
/*  вторичный цвет фона #2F303A */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3 ;
    --title-white-color: #FFFFFF;
    --bgr-color: #2F303A;
}
.body {
    background-color: var(--title-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
}

/* logo */
.logo {
    color: #000000;
    font-family: raleway, sans-serif; 
    font-size: 26px;
    line-height: 1.19;

}
ul {
    list-style: none;
} 
/* site nav */
.site-nav a {
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
}
.site-nav a:hover, .site-nav a:focus {
    color: var(--accent-color);
} 
.site-nav .link.current {
    color: var(--accent-color);
}

/* inf */
.inf .mail:hover, .inf .mail:focus {
color: var(--accent-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}

/* hero */
.hero-title {
    background: #2F303A; 
    color: var(--title-white-color) ;
}
/* Peculiarities */
.peculiarities .title {
    color: var(--title-text-color);
}
/* sections */
 .section-title {
     color: var(--title-text-color);
 }

/* team */
.team-list .title {
    color: var(--title-text-color);
}
/* button */
.hero-button {
    color: var(--title-white-color);
    background: var(--accent-color);

}

/* Button-portfolio */
.button-port button {
    color: var(--title-text-color);
}
.button-port button:hover, .button-port:focus {
    background-color: var(--accent-color);
    color: var(--title-white-color);
}